<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');</style>
<body style="font-family: 'Open Sans', sans-serif;">
    <h1 class="background">Fosterate</h1>
    <nav class="nav-element">
    <ul class="navbar">
       <li class="nav-list-item"><a class="nav-link" routerLink="/home"  href="#">HOME</a></li>
       <li class="nav-list-item"><a class="nav-link nav-item " routerLink="/add" href="#">+ADD</a></li>
       <li class="nav-list-item" style="margin-left: auto;"><a href="#"><img style="margin-right: 20px;" src="assets/images/blog-icon.png"  alt="might be removed"></a></li>
    </ul>
    </nav>
</body>
</html>
<router-outlet></router-outlet>